*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gainsboro;
}



nav{
    background-color: #1b1616;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        margin-left: 30px;
        color: #fff;
        font-size: 1.5em;
    }
    .nav-bar{   
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style-type: none;
        width: 60%;
        margin: 0;
        margin-left: 10%;
        padding: 0;
        li{
            a{
                color: #fff;
            }
        }
        .about-sect{
            display: none;
        }
    }
    .login-register{
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        width: 15%;
        li{
            a{
                
            }
        }
        span{
            color: #fff;
        }
    }
    .burger{
        display: none;
    }
}
// Fin Navbar ------------------
// Contenedor Principal ------------------

//carouserl images -----------
.img-fluid {
    width: 100%;
    height: 83vh;
}

// App Features
.container-features{
    padding: 20px;
    width: 80%;
    height: 80vh;
    margin: auto;
    color: #fff;
    background-color: #1b1616;
    .title{
        text-transform: uppercase;
        text-align: center;
    }
    .grid-features{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 30% 10% 60%;
        grid-gap: 10px; 
        .icons{
            text-align: center;
            font-size: 4em;
        }
        .features{
            display: flex;
            justify-content: center;
        }
        div{
            p{
                text-align: center;
            }
        }
    }
}



// App Functions
.container-functions {
    width: 80%;
    padding-top: 70px;
    margin: 0 auto;
    background-color: #1b1616;
    color: #fff;
    h1{
        text-transform: uppercase;
    }
    .function {
        text-align: center;
        padding: 12px;
    }
    .grid-functions{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 30% 50px 30% 60px;
        grid-gap: 10px;
        .item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1fr;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            } 
        }
    }
}
    




footer {
    background-color: #1b1616
}

.social-icons{
    display: flex;
    flex-direction: column;
    a {
        
    }
    div{
        i{
            font-size: 2em;
            color: #fff;
            padding: 5px;
        }
        i:hover{
            color: blue;
            font-size: 40px;
        }
    }
}
