* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: gainsboro;
  overflow-y: hidden;
}

.close {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  display: none;
}

.login {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
}

.login .exit {
  height: 10vh;
  color: #fff;
  font-size: 3em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}

.login .form-content {
  position: relative;
  z-index: 5;
  height: 80vh;
  width: 50%;
  margin: 10px auto;
  border-radius: 5px;
  background-color: #fff;
  padding-top: 20px;
}

.login .form-content h1 {
  border-bottom: 1px solid red;
  text-align: center;
  background-color: #000;
  color: #fff;
}

.login .form-content form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .form-content form label {
  font-size: 2em;
  padding-top: 10px;
}

.login .form-content form input {
  width: 50%;
}

.login .form-content form button {
  margin-top: 20px;
  width: 50%;
}

nav {
  background-color: #1b1616;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo {
  margin-left: 30px;
  color: #fff;
  font-size: 1.5em;
}

nav .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  width: 60%;
  margin: 0;
  margin-left: 10%;
  padding: 0;
}

nav .nav-bar li a {
  color: #fff;
}

nav .nav-bar .about-sect {
  display: none;
}

nav .login-register {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 15%;
}

nav .login-register span {
  color: #fff;
}

nav .burger {
  display: none;
}

.img-fluid {
  width: 100%;
  height: 83vh;
}

.container-features {
  padding-top: 20px;
  width: 80%;
  height: 65vh;
  margin: 0 auto;
  color: #fff;
  background-color: #1b1616;
  border: 1px solid #fff;
}

.container-features .title {
  text-transform: uppercase;
  text-align: center;
}

.container-features .grid-features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 30% 10% 60%;
      grid-template-rows: 30% 10% 60%;
  grid-gap: 10px;
}

.container-features .grid-features .icons {
  text-align: center;
  font-size: 4em;
}

.container-features .grid-features .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-features .grid-features div p {
  text-align: center;
}

.container-functions {
  width: 80%;
  position: relative;
  margin: 0 auto;
  background-color: #1b1616;
  color: #fff;
  border: 1px solid #fff;
}

.container-functions h1 {
  text-transform: uppercase;
}

.container-functions .function {
  text-align: center;
  padding: 12px;
}

.container-functions .grid-functions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 30% 50px 30% 60px;
      grid-template-rows: 30% 50px 30% 60px;
  grid-gap: 20px;
}

.container-functions .grid-functions .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1fr;
}

.container-functions .grid-functions .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info {
  position: relative;
  cursor: pointer;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.middle {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.info:hover .image {
  opacity: 0.3;
}

.info:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

footer {
  background-color: #1b1616;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-icons div i {
  font-size: 2em;
  color: #fff;
  padding: 5px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.social-icons div i:nth-child(1):hover {
  color: #275fc7;
}

.social-icons div i:nth-child(2):hover {
  color: #32d2fa;
}

.social-icons div i:hover {
  font-size: 2.5em;
}
/*# sourceMappingURL=style.css.map */